$iconfont-path: "./assets/fonts" !default;

@font-face {
  font-family: "iconfont";
  src: url('#{$iconfont-path}/iconfont.eot?t=1561018138853'); /* IE9*/
  src: url('#{$iconfont-path}/iconfont.eot?t=1561018138853#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$iconfont-path}/iconfont.ttf?t=1561018138853') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('#{$iconfont-path}/iconfont.svg?t=1561018138853#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconsanjiaoxia:before {
  content: "\e644";
}

.iconaccount:before {
  content: "\e701";
}

.iconclear:before {
  content: "\e702";
}

.iconhide:before {
  content: "\e703";
}

.iconpassword:before {
  content: "\e704";
}

.iconheadBusiness:before {
  content: "\e705";
}

.iconPickOn:before {
  content: "\e706";
}

.iconheadportrait:before {
  content: "\e707";
}

.iconShow:before {
  content: "\e708";
}

.iconlist:before {
  content: "\e709";
}

.iconhistoricalprice:before {
  content: "\e70a";
}

.iconselected:before {
  content: "\e70c";
}

.iconfailure:before {
  content: "\e70d";
}

.iconhlwl:before {
  content: "\e70e";
}

.iconclose:before {
  content: "\e70f";
}

// 阿里云
.yz-canguanyuyue:before {
  content: "\e667";
}

.yz-canzhanshangmulu:before {
  content: "\e668";
}

.yz-zhanhuiricheng:before {
  content: "\e669";
}

.yz-weixin:before {
  content: "\e664";
}

.yz-shengchengtupian:before {
  content: "\e665";
}

.yz-pengyouquan:before {
  content: "\e666";
}

.yz-huiyuan:before {
  content: "\e65a";
}

.yz-xiaoxi:before {
  content: "\e65b";
}

.yz-huizhan:before {
  content: "\e65c";
}

.yz-youjian:before {
  content: "\e65d";
}

.yz-dizhi:before {
  content: "\e65e";
}

.yz-ziyuan:before {
  content: "\e65f";
}

.yz-yiguanzhu:before {
  content: "\e660";
}

.yz-guanzhu:before {
  content: "\e661";
}

.yz-fenxiang:before {
  content: "\e662";
}

.yz-dianhua:before {
  content: "\e663";
}

.yz-duigou:before {
  content: "\e656";
}

.yz-wode:before {
  content: "\e657";
}

.yz-paixu:before {
  content: "\e658";
}

.yz-qiye:before {
  content: "\e659";
}


