.toBeQuotedDetails {
    min-height: 100vh;
    padding: vw(24);
    font-size:vw(24);
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:vw(42);
    font-weight:400;
    .bg{
        padding: 0 vw(20) ;
        margin-bottom: vw(26);
        background:rgba(255,255,255,1);
        box-shadow:0 vw(6) vw(10) 0 rgba(11,4,7,0.05);
        border-radius:vw(10);
    }
    .w5 {width: 5%;}
    .w7 {width: 7%;}
    .w14 {width: 14%;}
    .w15 {width: 15%;}
    .w16 {width: 16%;}
    .w18 {width: 18%;}
    .w20 {width: 20%;}
    .w24 {width: 24%;}
    .w25 {width: 25%;}
    .w30 {width: 30%;}
    .w33 {width: 33%;}
    .w225 {width: 22.5%;}
    .w24 {width: 24%;}
    .w31 {width: 31%;}
    .w36 {width: 36%;}
    .w64{width: 64%;}
    .w100{width: 100%;}
    .red {color: #D0111B;}
    .blue {color: #5688CA;}
    .bgf8{background: #F8F8F8;}
    .textRight{text-align: right;}
    .pd20{padding: 0 vw(20);}
    .td {
        display: inline-block;
        text-align: center;  
        word-wrap: break-word;
        vertical-align: top;
    }
    .nullBox {
        text-align: center;
        padding: 1rem;
        .nullImg{width: vw(400);}
    }


    .inquiryHead{
        .title{
            font-size:vw(26);
            color:#333;
            font-weight:500;
            line-height:vw(56);
            border-bottom: 1px solid rgba(222,222,222,1);

            i{
                position: relative;
                top: 0.06rem;
                font-size: vw(40);
                font-weight:800;    
                color: #C8151D;
            }
        }
        .list {
            overflow: hidden;
            padding: vw(5) 0;
            li {
                float: left;
                width: 100%;
            }
            .text{
                display: inline-block;
                max-width: vw(533);
                vertical-align: top;
            }
        }
    }

    .goodList {
        .goodItem {padding: 0;}
        .tit{
            overflow: hidden;
            padding: 0 vw(20);
            font-size:vw(26);
            color:#333;
            font-weight:500;
            line-height:vw(56);
            border-bottom: 1px solid rgba(222,222,222,1);
        }
        .fr {float: right;}
        .lookBtn { padding: 0 vw(10);}
        .list {
            overflow: hidden;
            padding: vw(5) vw(20);
            li {float: left;}
            .w100{width: 100%;}
            .w281 {min-width: vw(281);}
            .w209 {min-width: vw(239);}
            .textRight{text-align: right;}
            .text{
                display: inline-block;
                max-width: vw(533);
                vertical-align: top;
            }
            .red {color: #D0111B;}
        }
        .inquiryTable{
            padding-top:vw(15);
            .thead{
                padding: vw(5) 0;
                background: #5688CA;
                font-size:vw(26);
                font-weight:400;
                color:rgba(255,255,255,1);
                line-height:vw(46);
            }
            
            .tbody {
                font-size:vw(26);
                font-weight:400;
                color:rgba(51,51,51,1);
                line-height:vw(58);
                .van-cell {padding: 0 vw(20);}
                .van-cell:not(:last-child)::after { border: none;}
                .inlinblock {
                    display: inline-block;
                    max-width: vw(500);
                    vertical-align: top;
                }
            }
        }
        .nullList {
            text-align: center;
            font-size:vw(32);
            font-weight:400;
            line-height: vw(90);
            color:rgba(153,153,153,1);
        }
    }
    .subBtn{
        width: 100%;
        margin-bottom: vw(20);
        background:rgba(208,17,27,1);
        box-shadow:0 vw(15) vw(20) 0 rgba(208,17,27,0.3);
        border-radius:vw(10);
        font-size:vw(32);
        font-weight:400;
        color:rgba(242,242,242,1);
    }
    // 物料歷史明細彈窗
    .detailedHistory{
        overflow: inherit;
        // position:relative;
        width:vw(702);
        // min-height:vw(300);
        padding:0 vw(22) vw(22);
        background:rgba(255,255,255,1);
        box-shadow:0 vw(6) vw(10) 0 rgba(11,4,7,0.05);
        border-radius:vw(12);
        .title{
            font-size:vw(26);
            font-weight:500;
            color:rgba(51,51,51,1);
            // line-height:vw(84);
            line-height: 0.82rem;
            .iconhistoricalprice {
                position: relative;
                width:vw(36);
                top: 0.1rem;
            }
        }
        .thead{
            background: #5CA8BF;
            font-size:vw(24);
            font-weight:400;
            color:rgba(255,255,255,1);
        }
        .tbody{
            max-height: 53vh;
            overflow: scroll;
        }
        .tr{
            margin-top:vw(12);
            font-size:vw(22);
            font-weight:400;
            color:rgba(102,102,102,1);
            // line-height:vw(58);
            line-height: 0.54rem;
            background:rgba(248,248,248,1);
        }
        .iconclose {
            position: absolute;
            bottom:vw(-89);
            left: 50%;
            transform: translate(-50%,0);
            font-size:vw(100);
            color:#fff;
        }
    }
    // 议价弹窗
    .showBargaining{
        overflow: inherit;
        // position:relative;
        width:vw(702);
        // min-height:vw(300);
        padding:0 vw(22) vw(22);
        background:rgba(255,255,255,1);
        box-shadow:0 vw(6) vw(10) 0 rgba(11,4,7,0.05);
        border-radius:vw(12);
        .title{
            font-size:vw(26);
            font-weight:500;
            color:rgba(51,51,51,1);
            line-height:vw(84);
            text-align: right;

            .iconhistoricalprice {
                position: relative;
                width:vw(36);
                top: 0.1rem;
            }
        }
        .thead{
            background: #5688CA;
            font-size:vw(24);
            font-weight:400;
            color:rgba(255,255,255,1);
            td {vertical-align: middle;}
        }
        .tabWrap{
            max-height: 50vh;
            overflow: scroll;
        }
        table{
            border-right:1px solid #DEDEDE;
            border-bottom:1px solid #DEDEDE;
            tr{
                margin-top:vw(12);
                font-size:vw(22);
                font-weight:400;
                color:rgba(102,102,102,1);
                line-height:vw(58);
                background:rgba(248,248,248,1);
            }
            tbody tr:nth-child(odd){background: #fff;}            
            tbody tr:nth-child(even) { background: #F8F8F8;}
            tbody td {line-height:vw(70)}
            td{
                border-left:1px solid #DEDEDE;
                border-top:1px solid #DEDEDE;
                text-align: center;
                box-sizing: border-box;
            } 
        } 
        .footNum {
            padding-top:vw(34);
            text-align: right;
            line-height: vw(72);
            font-size:vw(24);
            font-weight:400;
            color:rgba(102,102,102,1);
            input {
                width:vw(198);
                line-height: vw(32);
                padding: vw(20) 0;
                background:rgba(255,255,255,1);
                border:2px solid rgba(235,235,235,1);
                border-radius:vw(4);
                text-align: center;
            }
        }
        .subBtn {
            width:vw(230);
            line-height:vw(70);
            margin: vw(75) auto vw(43);
            background:rgba(86,136,202,1);
            box-shadow:none;
            border-radius:vw(10);
        }
    
        .iconclose {
            position: absolute;
            bottom:vw(-89);
            left: 50%;
            transform: translate(-50%,0);
            font-size:vw(100);
            color:#fff;
        }
    }
    
}