.login {
    position: relative;
    min-height: 100vh;

    .head {
        position: relative;
        width: vw(750);
        height: vw(474);
        height: 5rem;
        background: #D0111B;
        text-align: center;
        .logoImg {
            margin-top: vw(112);
            width: vw(336);
        }
        .logoTitle {
            font-size:vw(32);
            font-weight:400;
            line-height: vw(164);
            color:#fff;
        }
        .loginForm {
            position: absolute;
            top: vw(410);
            left: vw(44);
            width:vw(663);
            text-align: left;

            .van-cell { line-height: vw(80);}
            .van-cell:nth-of-type(1) {border-radius:vw(20) vw(20) 0 0;} 
            .van-cell:nth-of-type(2) {border-radius: 0 0 vw(20) vw(20);} 
            .van-checkbox {
                padding-left: 0.25rem;
                line-height: 1.2rem;
            }
            .van-button--info {
                width: 100%;
                border-radius: vw(7);
                background-color:#D0111B;
                border-color:#D0111B; 
                line-height: vw(80)
            }
            .van-cell:not(:last-child)::after {
                right: 15px;
                border-bottom: 1px solid #DEDEDE;
            }
           
        }
    }

   
}