.changePassword{
    padding: vw(24) vw(44);

    .changePasswordBtn{
        width: 100%;
        margin-top:vw(48);
        line-height:vw(80);
        background:rgba(208,17,27,1);
        border-color:rgba(208,17,27,1);
        box-shadow:0 vw(10) vw(15) 0 rgba(208,17,27,0.3);
        border-radius:vw(10);
        font-size:vw(32);
        font-weight:400;
        color:rgba(242,242,242,1);
    }
    
    .loginForm {
        width:100%;
        text-align: left;

        .van-cell { line-height: vw(80);}
        .van-cell:nth-of-type(1) {border-radius:vw(20) vw(20) 0 0;} 
        .van-cell:nth-of-type(3) {border-radius: 0 0 vw(20) vw(20);} 
        .van-cell:not(:last-child)::after {
            right: 15px;
            border-bottom: 1px solid #DEDEDE;
        }
        
       
    }
}