html, body {
    background-color: #000;
}

.g-wrap {
    position: relative;
}

.g-main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9fe;
}

.g-show {
    display: block !important;
}

.g-hide {
    display: none !important;
}

a {
    outline: 0;
    text-decoration: none;
    &:hover,
    &:active {
        outline: 0;
        text-decoration: none;
    }
}

// 文本截取
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 文本截取-多行
.text-ellipsis-mor {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

// 手机模式
@media screen and (min-width: 320px) and (max-width: 420px) {
    html, body {
        background-color: #fafafe;
    }

    .g-main {
        width: 100%;
    }
}
