/**
 * 报告描述
 */
.m-user-describe {
    margin-top: -90px;
    margin-bottom: 60px;
    color: #16114a;
    //background: url(../../images/user_describe01.png) 0 113px no-repeat;
    background: url(../../assets/report/images/user_describe01.png) 0 113px no-repeat;

    // 背景装饰
    .decorate02 {
        top: percentage(79 / 404);
        left: percentage(59 / 920);
        width: 74px;
        height: 55px;
        //background: url(../../images/user_describe02.png) 0 0 no-repeat;
        background: url(../../assets/report/images/user_describe02.png) 0 0 no-repeat;
    }

    .decorate03 {
        top: percentage(296 / 404);
        left: percentage(787 / 920);
        width: 74px;
        height: 55px;
        //background: url(../../images/user_describe03.png) 0 0 no-repeat;
        background: url(../../assets/report/images/user_describe03.png) 0 0 no-repeat;
    }

    .decorate04 {
        left: 0;
        bottom: 0;
        width: 171px;
        height: 77px;
        //background: url(../../images/user_describe04.png) 0 0 no-repeat;
        background: url(../../assets/report/images/user_describe04.png) 0 0 no-repeat;
    }

    // hd
    .g-panel-bd {
        background-color: #FFFFFF;
    }

    // bd - content
    .g-panel-content {
        min-height: 404px;
        padding: 40px 60px 51px 40px;
        border-radius: 4px;
    }

    // user
    .user-info {
        // 头像
        .avatar {
            display: inline-block;
            width: 56px;
            height: 56px;
            margin-left: 19px;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid #5345de;

            img {
                width: 100%;
            }
        }

        // 名称
        .teach-name {
            display: inline-block;
            margin-left: 14px;
            vertical-align: top;
            color: #16114a;
            font-size: 16px;
            line-height: 56px;
        }
    }

    h3 {
        margin: 0;
        padding-left: 70px;
        color: #16114a;
        font-size: 18px;
        font-weight: 700;
        line-height: 44px;
    }

    // 学员姓名
    .stu-name {
        color: #ffa30b;
        font-size: 18px;
    }

    p {
        margin: 0;
        padding-left: 70px;
        line-height: 26px;
    }
}

// 手机模式
@media screen and (min-width: 320px) and (max-width: 420px) {
    .m-user-describe {

        margin-top: 0;
        margin-bottom: 25px;
        background: none;

        .decorate02,
        .decorate03 {
            display: none;
        }

        .decorate04 {
            width: 1.71rem;
            height: 0.77rem;
            background-size: 100% 100%;
        }

        .g-panel-content {
            min-height: auto;
            padding: 20px 10px;
        }

        .user-info {
            .avatar {
                width: 40px;
                height: 40px;
                margin-left: 0;
            }

            .teach-name {
                font-size: 13px;
                line-height: 40px;
            }
        }

        h3 {
            padding: 6px 0;
            font-size: 14px;
            line-height: 1.5;
        }

        .stu-name {
            font-size: 14px;
        }

        p {
            font-size: 13px;
            padding-left: 0;
        }
    }
}
