.err-404 {
    padding-top: vw(250);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    img {
        width: vw(356);
        height: vw(344);
    }

    .gohome {
        margin-top: vw(40);
        width: vw(180);
        height: vw(55);
        line-height: vw(55);
        border-radius: vw(55);
        font-size: 14px;
        text-align: center;
        background-color: #5688CA;

        a {
            color: #fff;
        }
    }
}